<div id="template-content" style="background-color: rgb(255, 255, 255); background-size: cover;">

<div class='page rs-sparqlPage'>

  <mp-sparql-query-editor-context>  
                  
          <semantic-context repository='default'>
            <div>
    <!--        <mp-sparql-query-editor query="SELECT * WHERE {?a ?b ?c} LIMIT 10"></mp-sparql-query-editor> -->
    <semantic-search config='[[searchConfigForFieldsFromQuery "SELECT DISTINCT ?field WHERE { ?field a <http://www.researchspace.org/resource/system/fields/Field> . ?field <http://www.researchspace.org/resource/system/fields/domain> ?domain . ?field <http://www.researchspace.org/resource/system/fields/range> ?range . }"]]'>

            <basicui-stuff2> </basicui-stuff2>
            [[> rsp:SearchResults]]
    </semantic-search>
          </div>
          </semantic-context>
  </mp-sparql-query-editor-context>
</div>
</div>

